.education-sec{
  width: 100%;
  &__text{
    h3{
      color: $color-secondary;
      font-weight: bold;
    }
    p{
      color: $color-black-light-2;
      font-size: 1.6rem;
    }
  }
  &__content{
    .education-row-2{
      background-color: rgba($color-black-light-2,0.05);
    }
    .education-row{
      border-top: 1px solid $color-black-light;
      border-bottom: 1px solid $color-black-light;

      padding: 4.5rem 0;
      font-size: 1.4rem;

      .stt{
        border: 1px solid $color-black-light;
        width: 4rem;
        height: 4rem;
        text-align: center;
        display: inline-block;
        border-radius: 100px;
        padding-top: 0.9rem;
      }
    }
  }

  @media (max-width: 575.98px) {
    .col-year{
      margin: 10px 0;
    }
    .col-school{
      margin-bottom: 10px;
    }

  }

}