.vertical-nav-wrap{
  position: fixed;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}
.horizontal-nav{
  padding: 2rem 8rem;

  &--text{
    font-size: 1.8rem;
    margin-top: 1rem;
    font-family: $font-primary;
    font-weight: bold;
  }
  button{
  margin-right: 3rem;
  }
  &-anim{
    background-color: #fff;
    color: $color-black-light;
    position: fixed;
    z-index: 20;
    margin-top: -1.7rem;
    width: 70%;
    //width: 100%;
    animation: toTopNav 1s;
    animation-fill-mode: forwards;
  }

}

@keyframes toTopNav {
  0%{
    opacity: 0;
    transform: translateY(-3rem);
    transition: all 1s;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 991.98px) {
  .horizontal-nav{
    display: none !important;
  }
  .horizontal-nav-res{
    padding: 2rem;
    margin: 0;
    z-index: 100;
    .navbar-brand{
      font-weight: bold;
      font-family: $font-secondary;
      color: #343a40;
      font-size: 1.7rem;
    }
    .navbar-toggler{
      background-color: $color-black-dark !important;
      outline: none;
      span{
        color: $color-primary !important;
      }
    }
    .nav-link{
      font-size: 1.6rem;
    }
  }
}
@media (min-width: 992px) {
  .horizontal-nav-res{
    display: none !important;
  }
}